/*wireframe link:
https://wireframe.cc/lySt6e */

body {
  background-color: grey;
  color: black;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.nav-icon {
  height: 75px;
  width: 75px;
  float: right;
  margin: 10px;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 25%;
}

.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  height: 1000px;
  width: 1000px;
  border: 2px solid black;

}
