/*wireframe link:
https://wireframe.cc/lySt6e */

body {
  background-color: black;
  color: pink;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.flex-container {
  display: flex;

}
